body {
  background-color: rgb(225, 230, 235);
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 2fr 6fr 2fr;
  grid-template-areas:
    "header header header"
    "list-box middle add-item"
    "footer footer footer";
}

.header {
  grid-area: header;
  background-color: aqua;
}
.list-box {
  grid-area: list-box;
  background-color: blueviolet;
}
.add-item {
  grid-area: add-item;
  background-color: rgb(39, 62, 62);
}
.footer {
  grid-area: footer;
  background-color: rgb(55, 0, 255);
}
